/*Font - Google Plus Jakarta Sans*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* CSS Variables*/

/*Font - Calibre Font Family Definitions*/

/* Base Font Family */
@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreRegular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreRegularItalic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* Medium weights */
@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreMedium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreMediumItalic.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
}

/* Semibold weights */
@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreSemibold.otf) format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreSemiboldItalic.otf) format("opentype");
  font-weight: 600;
  font-style: italic;
}

/* Bold weights */
@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreBold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreBoldItalic.otf) format("opentype");
  font-weight: bold;
  font-style: italic;
}

/* Black weights */
@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreBlack.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreBlackItalic.otf) format("opentype");
  font-weight: 900;
  font-style: italic;
}

/* Light weights */
@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreLight.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

/* Thin weights */
@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreThin.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreThinItalic.otf) format("opentype");
  font-weight: 100;
  font-style: italic;
}

:root {
  /* Fluid Typography */

  --fs-xxs: clamp(12px, 1vw, 14px); /* Extra-extra-small */
  --fs-xs: clamp(13px, 1vw, 15px); /* Extra-small */
  --fs-sm: clamp(14px, 1.1vw, 16px); /* Small */
  --fs-md: clamp(16px, 1.2vw, 18px); /* Medium (body text) */
  --fs-lg: clamp(18px, 1.5vw, 20px); /* Large */
  --fs-xl: clamp(20px, 1.5vw, 20px); /* Extra-large */
  --fs-xxl: clamp(22px, 2vw, 26px); /* Extra-extra-large */
  --fs-heading: clamp(32px, 4vw, 48px); /* Large-headings */
  --fs-heading-lg: clamp(40px, 8vw, 80px); /* Extra-large-headings */
  --f-line-height-body: clamp(1.4, 1.6vw, 1.8); /* Adjust line-height fluidly */
  --f-line-height-heading: clamp(1.1, 1.3vw, 1.5); /* For headings */
  --font-family: "Calibre", sans-serif;
  --font-weight-body: 400;
  --font-weight-link: 500;
  --font-weight-title: 700;
  --font-weight-h1: 900;
  --font-weight-h1-light: 600;
  --font-weight-h2: 700;
  --font-weight-h3: 600;

  --font-weight-li: 400;

  /* Body and Text Colors*/
  --color-bg: #0a192f; /* Navy */
  --background-image: radial-gradient(at 20% 100%, #1a2a4f, transparent 40%),
    radial-gradient(at 70% 120%, #0f4c75, transparent 50%),
    radial-gradient(at 40% 80%, #3282b8, transparent 30%),
    radial-gradient(at 80% 40%, #5e60ce, transparent 40%),
    radial-gradient(at 90% 10%, #6930c3, transparent 40%),
    linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9)),
    linear-gradient(to top, transparent, #0a192f 40%),
    linear-gradient(
      45deg,
      transparent,
      #3a0ca3 15%,
      transparent 30%,
      #4361ee 50%,
      transparent
    ),
    linear-gradient(to bottom, #0a192f, #1a1f38 60%, #112240 80%, transparent),
    radial-gradient(at 10% 0%, #3a0ca3, transparent 30%),
    radial-gradient(at 85% 0%, #4361ee, transparent 30%),
    radial-gradient(at 95% 0%, #4cc9f0, transparent 20%);

  --color-section-bg: #112240; /* Light Navy */
  --color-text: #c9d4f5; /* Mist Blue – Main body text */
  --color-secondary-text: #a4b8dd; /* Cool Lavender – Subtext, paragraphs */
  --color-title: #e6f1ff; /* Soft White – For main headings */

  /* Header Colors*/
  --color-h1: #64ffda; /* Aqua Green – Matches link for top-level headings */
  --color-h2: #b8c0ff; /* Violet Mist – Used for second-level headings */
  --color-h3: #b3c2f2; /* Frost Blue – Used for h3/big-heading */

  /* Link and Interactive States */
  --color-link: #64ffda; /* Aqua Green – Primary accent link color */
  --color-link-hover: #8be9ff; /* Bright Cyan – Hover state for links */
  /* Border and Divider Colors */
  --color-divider: #33416a; /* Twilight Slate – Table or section dividers */

  /* Main content */
  --main-desktop-margin-inline: auto;
  --main-desktop-padding-inline: 1rem;
  --main-desktop-width: clamp(16rem, 80vw, 70ch);
  /* Main Content Desktop */
  --main-bg-color: #0a192f; /* Navy */
  --main-color: #112240; /* light Navy */

  /* Main Content Mobile */
  --main-mobile-bg-color: #0a192f; /* Navy */
  --main-mobile-color: #112240; /* light Navy */
  --main-mobile-padding: clamp(16px, 4vw, 24px);
}
:root.dark {
  --color-bg: #000000;
  --color-section-bg: #0a0a0a;
  --color-text: #f1f1f1;
  --color-secondary-text: #b0b0b0;
  --color-title: #ffffff;
  --color-link: #64ffda;
  --color-border: #333333;

  --color-h1: #64ffda;
  --color-h2: #f1f1f1;
  --color-h3: #b0b0b0;

  --color-link-hover: #ffffff;
  --color-divider: #333333;

  --main-bg-color: #000000;
  --main-color: #0a0a0a;

  --main-mobile-bg-color: #000000;
  --main-mobile-color: #0a0a0a;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-inline: var(--main-desktop-margin-inline);
  padding-top: calc(2em + 2rem);
  width: var(--main-desktop-width);
  color: var(--main-color);
  line-height: var(--f-line-height-body);
  /* flex: 1; */
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  font-family: var(--font-family);
  font-weight: var(--font-weight-body);
  font-size: var(--fs-md);
  color: var(--color-text);
  line-height: var(--f-line-height-body);
  background-color: var(--color-bg);
  margin: 0;
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: var(--background-image);
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--color-link) var(--color-bg);
}
h1,
h2,
h3 {
  line-height: var(--f-line-height-heading);
}

/* Navigation Bar Styles*/
.navigation {
  position: sticky;
  top: 1.5em;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0.5em 1em;
  width: max-content;
  margin-left: auto;
  margin-right: 1.5em;
  text-decoration: none;
  backdrop-filter: blur(12px);
  border-radius: 2em;
  transition: background-color 0.3s ease, backdrop-filter 03s ease;
  z-index: 999;
}

.styled-list {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  margin: 0px;
  list-style: none;
}

.styled-list a {
  font-weight: var(--font-weight-link);
  font-size: var(--fs-md);
  text-decoration: none;
  color: var(--color-link);
  position: relative;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  border-bottom: 2px solid transparent;
}

.styled-list a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  height: 1px;
  left: 0;
  background-color: var(--color-link);
  transition: width 0.3s ease;
}
.styled-list a:hover {
  color: var(--color-secondary-text);
  transition: color 0.1s ease;
}

.styled-list a:hover::before {
  width: 100%;
}

/*Hamburger Style*/
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 10px;
  background-color: var(--color-link);
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.blog-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  margin-top: 2rem;
}

.blog-row {
  /* border-bottom: 1.5px solid var(--color-divider); */
  padding: 1rem 0;
}

.posts {
  max-width: 700px;
  width: fit-content;
  margin: auto;
}

.post-title a {
  border-bottom: 2.5px solid var(--color-divider);
  font-size: var(--fs-md);
  color: var(--color-link);
  text-decoration: none;
  font-weight: var(--font-weight-link);
}

.post-title a:hover {
  color: var(--color-link-hover);
}

.post-date {
  text-align: right;
  font-size: var(--fs-md);
  color: var(--color-secondary-text);
  white-space: nowrap;
}

/* Mobile Responsive Styles */
@media screen and (max-width: 720px) {
  main {
    padding: var(--fs-sm);
    max-width: var(--main-mobile-max-width);
    line-height: var(--f-line-height-body);
    flex: 1;
    box-sizing: border-box;
  }

  body.menu-open-blur {
    overflow: hidden;
    scrollbar-width: none;
  }

  body.menu-open-blur::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  .navigation {
    display: block;
    position: relative;
    padding: var(--fs-xs);
    margin-right: 0;
    top: 0;
    border-radius: 0;
  }

  .styled-list a {
    text-decoration: none;
    transition: color 0.3s ease;
  }
  .styled-list a::before {
    display: none;
  }
  .styled-list a:hover {
    color: var(--color-secondary-text);
  }

  .styled-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 60vw;
    max-width: 100vw;
    height: 100vh;
    gap: 1.5rem;
    background-color: var(--main-mobile-bg-color);
    z-index: 1001;
    transform: translateX(100%) scale(0.98);
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55),
      opacity 0.5s ease;
    opacity: 0;
    pointer-events: none;
    box-sizing: border-box;
    overflow: hidden;
  }

  .styled-list.expanded {
    transform: translateX(0) scale(1);
    opacity: 1;
    pointer-events: auto;
    align-items: center;
  }

  /* Navigation bar list item*/
  .styled-list li {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  }

  .styled-list.expanded li:nth-child(1) {
    transition-delay: 0.1s;
    opacity: 1;
    transform: translateY(0);
  }

  .styled-list.expanded li:nth-child(2) {
    transition-delay: 0.2s;
    opacity: 1;
    transform: translateY(0);
  }

  .styled-list.expanded li:nth-child(3) {
    transition-delay: 0.3s;
    opacity: 1;
    transform: translateY(0);
  }

  .styled-list.expanded li:nth-child(4) {
    transition-delay: 0.4s;
    opacity: 1;
    transform: translateY(0);
  }

  .styled-list li {
    pointer-events: none;
  }

  .styled-list.expanded li {
    pointer-events: auto;
  }
  body.menu-open-blur {
    overflow: hidden;
  }
  body.menu-open-blur::before {
    content: "";
    position: fixed;
    inset: 0;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 998;
    pointer-events: none;
    transition: opacity 0.5s ease;
  }

  .hamburger {
    display: flex;
    flex-direction: column;
    top: 1rem;
    right: 1rem;
    gap: 8px;
    cursor: pointer;
    z-index: 1003;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .hamburger.hidden {
    opacity: 0;
    transform: translateX(50px);
    pointer-events: none;
  }

  .hamburger .line {
    position: absolute;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: var(--color-link);
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55),
      opacity 0.5s ease;
    transform-origin: center;
  }

  .hamburger .line:nth-child(1) {
    top: 10px;
  }

  .hamburger .line:nth-child(2) {
    top: 18px;
  }

  .hamburger .line:nth-child(3) {
    top: 26px;
  }

  .hamburger.active .line:nth-child(1) {
    transform: rotate(45deg) translate(6px, 6px);
  }

  .hamburger.active .line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .line:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition-delay: 0.25s;
  }
}

/* Desktop Styles */
@media screen and (min-width: 728px) {
  .hamburger {
    display: none;
  }

  .styled-list {
    display: flex;
    flex-direction: row;
  }
}

/*Credit Link Style*/
.credit {
  margin: 0;
  padding: 0.625rem;
  text-align: center;
  font-size: var(--fs-xxs);
}

.credit a {
  font-family: var(--font-family);
  font-weight: var(--font-weight-link);
  font-size: var(--fs-xxs);
  position: relative;
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s ease;
}

.credit a:hover {
  color: var(--color-secondary-text);
}
.p-main {
  color: #a4b8dd;
}

.p-main a {
  font-family: var(--font-family);
  font-weight: var(--font-weight-body);
  position: relative;
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s ease;
}
.p-main a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  height: 1px;
  left: 0;
  background-color: var(--color-link);
  transition: width 0.2s ease;
}

.p-main a:hover {
  transition: color 0.1s ease;
}
.p-main a:hover::before {
  width: 100%;
}

/* Blog Styling */
ul li a {
  font-family: var(--font-family);
  font-size: var(--fs-md);
  font-weight: var(--font-weight-body);
  text-decoration: none;
  color: var(--color-link);
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: var(--color-secondary-text);
}

/* Footer Styling */
.social-links {
  display: flex;
  gap: 1rem;
}
.social-link {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 20px;
  height: 20px;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.custom_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  padding: 15px;
  color: var(--color-h2);

  margin-top: auto;
}

/*Header Styles */
h1 {
  color: var(--color-h1);
  margin: 0 0 0.875rem 0.25rem;
  font-family: var(--font-family);
  font-weight: var(--font-weight-h1-light);
  font-size: var(--fs-sm), var(--fs-md);
}
h2 {
  color: var(--color-h2);
  font-family: var(--font-family);
  font-weight: var(--font-weight-h2);
  font-size: var(--fs-sm), var(--fs-md);
}

h2.big-heading {
  color: var(--color-h2);
  margin: 0px;
  font-family: var(--font-family);
  font-weight: var(--font-weight-h2);
  font-size: var(--fs-heading-lg);
}

h3 {
  color: var(--color-h3);
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-h3);
  font-size: var(--fs-lg);
}

h3.big-heading {
  color: var(--color-h3);
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-h3);
  font-size: var(--fs-heading-lg);
}

p {
  color: var(--color-secondary-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight-body);
  font-size: var(--fs-md);
  margin-top: 1.25rem;
  line-height: var(--f-line-height-body);
}

ul.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.skill-item {
  color: var(--color-secondary-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight-li);
  font-size: var(--fs-md);
  margin: 0;
}

.cursor {
  display: inline-block;
  margin-left: 4px;
  width: 1ch;
  color: var(--color-link);
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.tag a {
  font-family: var(--font-family);
  font-weight: var(--font-weight-body);
  position: relative;
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s ease;
}

.tag a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  height: 1px;
  left: 0;
  background-color: var(--color-link);
  transition: color 0.2s ease;
}

.tag a:hover {
  color: var(--color-secondary-text);
}

#themeToggle {
  border: 0;
  background: none;
}

.sun {
  fill: var(--color-link);
}

.moon {
  fill: transparent;
}

:global(.dark) .sun {
  fill: transparent;
}

:global(.dark) .moon {
  fill: white;
}

html.dark {
  background-color: black;
  color: #fff;
}

.dark .navigation-links a {
  color: #fff;
}
