/*Font - Google Plus Jakarta Sans*/
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

/* CSS Variables*/

/*Font - Calibre Font Family Definitions*/

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreRegular.otf) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreRegularItalic.otf) format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreMedium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreMediumItalic.otf) format("opentype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreSemibold.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreSemiboldItalic.otf) format("opentype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreBold.otf) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreBoldItalic.otf) format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreBlack.otf) format("opentype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreBlackItalic.otf) format("opentype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreLight.otf) format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreThin.otf) format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Calibre";
  src: url(../../assets/fonts/CalibreThinItalic.otf) format("opentype");
  font-weight: 100;
  font-style: italic;
}

:root {
  --font-family: "Calibre", sans-serif;
  --font-weight-body: 400;
  --font-weight-link: 500;
  --font-weight-h1: 900;
  --font-weight-h2: 700;
  --font-weight-h3: 600;
  --font-weight-title: 700;
  --font-weight-li: 400;
  --font-size-body: 1rem;
  --font-size-link: 1rem;
  --font-size-h1: 3rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.5rem;
  --font-size-h3-big: 2rem;

  --font-size-title: 2.25rem;
  --font-size-li: 1rem;
  --font-line-height: 1.25rem;
  --font-line-height-h1: 1.625rem;
  --font-line-height-h2: 1.625rem;
  --font-line-height-h3: 1.625rem;

  /* Body and Text Colors*/
  --color-bg: #0a192f; /* Navy */
  --color-section-bg: #112240; /* Light Navy */
  --color-text: #ccd6f6; /* Lightest Slate */
  --color-secondary-text: #8892b0; /* Slate */
  --color-title: #e6f1ff; /* White */
  --color-link: #64ffda; /* Green */
  --color-border: #a8b2d1; /* Light Slate */

  /* Header Colors*/
  --color-h1: #e6f1ff; /* White */
  --color-h2: #ccd6f6; /* Lightest Slate */
  --color-h3: #8892b0; /* Slate */

  /* Link and Interactive States */
  --color-link-hover: #ccd6f6; /* Slightly darker Green for hover */
  /* Border and Divider Colors */
  --color-divider: #a8b2d1; /* Light Slate */

  /* Main Content */
  --main-padding: 100px;
  --main-max-width: 1024px;
  --main-bg-color: #0a192f; /* Navy */
  --main-color: #112240; /* light Navy */
  --main-line-height: 1.3rem;
}

/* Navigation Bar Responsive Styles*/
@media screen and (max-width: 720px) {
  .navigation {
    display: block;
    position: relative;
  }
  .styled-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: var(--color-section-bg);
    z-index: 1000;
    padding: 1rem;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    list-style: none;
  }
  .styled-list.expanded {
    display: flex;
    opacity: 1;
    transform: translateY(0);
  }
}

.styled-list a {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: var(--font-weight-link);
  font-size: var(--font-size-link);
  color: var(--color-link);
  position: relative;
  padding: 0.25rem 0;
  transition: color 0.3s ease;
}
.styled-list a:hover {
  color: var(--color-secondary-text);
}

.styled-list a::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  height: 2px;
  left: 0;
  background-color: var(--color-link);
  transition: width 0.3s ease;
}

.styled-list a:hover::before {
  width: 100%;
}

/*Hamburger Style*/
.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 2px;
  margin-bottom: 10px;
  background-color: red;
}

.expanded {
  display: unset;
}

/* Show hamburger only on smaller screens */
@media screen and (max-width: 720px) {
  .hamburger {
    display: block;
  }
  .navigation {
    display: block;
  }
  .navigation.expanded {
    display: flex;
  }
}

/*Credit Link Style*/
.credit a {
  font-family: var(--font-family);
  font-weight: var(--font-weight-link);
  font-size: var(--font-size-link);
  position: relative;
  color: var(--color-link);
  text-decoration: none;
  transition: color 0.3s ease;
}

.credit a:hover {
  color: var(--color-secondary-text);
}

.credit a {
  font-family: var(--font-family);
  font-weight: var(--font-weight-link);
  font-size: var(--font-size-link);
  position: relative;
  color: var(--color-link);
  text-decoration: none;
}

.credit a:hover {
  color: var(--color-secondary-text);
}

/* Blog Styling */
ul li a {
  font-family: var(--font-family);
  font-size: var(--font-size-link);
  font-weight: var(--font-weight-body);
  text-decoration: none;
  color: var(--color-link);
  padding: 0.5rem 0;
  transition: color 0.3s ease;
}

ul li a:hover {
  color: var(--color-secondary-text);
}

/* Footer Styling */
.social-links {
  display: flex;
  gap: 1rem;
}
.social-link {
  display: flex;
  flex-direction: row;
  list-style: none;
  width: 20px;
  height: 20px;
}
img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  display: block;
}

.credit {
  margin: 0;
  padding: 0.625rem;
  text-align: center;
}
.custom_footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.625rem;
  padding: 15px;
  max-width: var(--main-max-width);
  background-color: var(--main-bg-color);
  color: var(--color-h2);

  margin-top: auto;
}

/*Header Styles */
h1 {
  color: var(--color-h1);
  margin: 0.625rem 0 00.625rem 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-title);
  font-size: var(--font-size-title);
  line-height: var(--font-line-height-h1);
}

h2.big-heading {
  color: var(--color-h2);
  margin: 0.625rem 0 0.625rem 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-h2);
  font-size: var(--font-size-h2);
  line-height: var(--font-line-height-h2);
}

h3.big-heading {
  color: var(--color-h3);
  margin: 0;
  font-family: var(--font-family);
  font-weight: var(--font-weight-h3);
  font-size: var(--font-size-h3-big);
  line-height: var(--font-line-height-h3);
}

p {
  color: var(--color-secondary-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight-body);
  font-size: var(--font-size-body);
  margin-top: 1.25rem;
  line-height: var(--font-line-height);
}

ul.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 0 10px;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li.skill-item {
  color: var(--color-secondary-text);
  font-family: var(--font-family);
  font-weight: var(--font-weight-li);
  font-size: var(--font-size-li);
  margin: 0;
}

body {
  font-family: var(--body-font-family);
  color: var(--body-color);
  font-size: var(--font-size-body);
  font-weight: var(--font-weight-body);
  line-height: var(--font-line-height);
  background-color: var(--color-bg);
  margin: 0;
  width: 100%;
  text-align: left;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  padding: var(--main-padding);
  max-width: var(--main-max-width);
  background-color: var(--main-bg-color);
  color: var(--main-color);
  line-height: var(--main-line-height);
  flex: 1;
}

html {
  background-color: var(--background-color);
  font-family: var(--body-font-family);
  scrollbar-width: thin;
  height: 100%;
  margin: 0;
}
