---
import "../../styles/global.css";
import BaseLayout from "../../layout/BaseLayout.astro";
import Greeting from "../../components/Greeting";
const pageTitle = "Tag Index";
const allPosts = Object.values(
  import.meta.glob("../posts/*.md", { eager: true })
);
const tags = [
  ...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat()),
];
---

<BaseLayout pageTitle={pageTitle}>
  <h2 class='big-heading'>Tags</h2>
  <ul>
    {
      tags.map((tag) => (
        <p class='tag'>
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </ul>
  <h3><Greeting client:load messages={["Hi", "Bonjour", "Sawubona", "Hey there"]} /></h3>
</BaseLayout>
