<a href='/'>Home</a>
<a href='/about/'>About</a>
<a href='/blog'>Blog</a>

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <h1>About Page</h1>
    <h2>About Me</h2>
    <p>
      A versatile software engineer with 3+ years of building scalable, reliable
      services. Proficient in JavaScript, TypeScript, and Node.js, with
      expertise in designing and implementing cloud-based architectures on
      platforms like AWS. Strong track record of collaborating
      cross-functionally to deliver high-quality solutions that exceed user
      expectations. Quick learner, adept at rapidly acquiring new skills to meet
      project needs.
    </p>
  </body>
</html>
