---
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Claude Mapara";

const identity = {
  firstName: "Claude",
  location: "London",
  occupation: "software engineer",
  company: "IBM",
};
---

<BaseLayout pageTitle={pageTitle} sectionId='homepg' isHero>
  <h1>Hi, my name is</h1>
  <h2 class='big-heading'>{identity.firstName}</h2>
  <h3 class='big-heading'>I design and build</h3>
  <h3 class='big-heading'>
    <span id='typed-word'>experiences</span><span class='cursor'>|</span>
  </h3>
</BaseLayout>
<script type='module'>
  const onPageReady = (callback) => {
    document.addEventListener("astro:page-load", callback);
    document.addEventListener("astro:after-swap", callback);
  };
  function startTyping() {
    const words = ["experiences", "apps", "systems", "products", "prototypes"];
    const typedWord = document.getElementById("typed-word");
    const cursor = document.querySelector(".cursor");

    if (!typedWord || !cursor) return;

    let wordIndex = 0;
    let charIndex = 0;
    let isDeleting = false;
    let typingTimeout;
    let isPaused = false;

    const type = () => {
      if (isPaused) return;
      const currentWord = words[wordIndex];
      const displayedText = currentWord.substring(0, charIndex);
      typedWord.textContent = displayedText;

      // Disable blinking while typing
      cursor.classList.remove("blink");

      if (!isDeleting && charIndex < currentWord.length) {
        //typing
        charIndex++;
        typingTimeout = setTimeout(type, 100);
      } else if (isDeleting && charIndex > 0) {
        //deleting
        charIndex--;
        typingTimeout = setTimeout(type, 60);
      } else {
        // Pause before deleting/moving to next word enable blinking
        cursor.classList.add("blink");
        isDeleting = !isDeleting;
        if (!isDeleting) {
          wordIndex = (wordIndex + 1) % words.length;
        }
        typingTimeout = setTimeout(type, 1000);
      }
    };

    const pauseTyping = () => {
      isPaused = true;
      clearTimeout(typingTimeout);
    };

    const resumeTyping = () => {
      if (!isPaused) return;
      isPaused = false;
      type();
    };

    document.addEventListener("visibilitychange", () => {
      if (document.hidden) {
        pauseTyping();
      } else {
        setTimeout(resumeTyping, 250);
      }
    });

    // Stop typing when leaving the page
    document.addEventListener(
      "astro:before-preparation",
      () => clearTimeout(typingTimeout),
      { once: true }
    );
    type();
  }
  onPageReady(startTyping);
</script>
