---
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
const pageTitle = "Claude Mapara";

const identity = {
  firstName: "Claude",
  location: "London",
  occupation: "software engineer",
  company: "IBM",
};
---

<BaseLayout pageTitle={pageTitle} sectionId="homepg" isHero>
      <h1>Hi, my name is</h1>
      <h2 class='big-heading'>{identity.firstName}</h2>
      <h3 class='big-heading'>I design and build</h3>
      <h3 class='big-heading'>
        <span id='typed-word'>experiences</span><span class='cursor'>|</span>
      </h3>
</BaseLayout>
