---
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle='Other'>
  <h2 class='big-heading'>Data Structures and Algorithms</h2>
  <ul>
    <li><a href='/posts/post-1'>hello_world</a></li>
    <li><a href='/posts/post-2'>30 days of JS</a></li>
    <li><a href='/posts/post-3'>5 core concepts to know</a></li>
  </ul>
</BaseLayout>
