---
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
import { slide } from "astro:transitions";
const pageTitle = "Claude Mapara";
---

<BaseLayout pageTitle={pageTitle} sectionId='projectspg'>
  <div>
    <h3>Event-Driven Cyber Deployment System</h3>
    <p class='p-main'>
      Built backend services and identity workflows for a secure, event-driven
      platform used across distributed cybersecurity environments. Collaborated
      within a 7-engineer team to deliver protected access at scale, processing
      thousands of requests per minute through AWS services including DynamoDB,
      CloudFront, and Lambda.
    </p>
    <ul class='project'>
      <div class='technologies-used'><li>JavaScript</li></div>
      <div class='technologies-used'><li>TypeScript</li></div>
      <div class='technologies-used'><li>React</li></div>
      <div class='technologies-used'><li>AWS</li></div>
      <div class='technologies-used'><li>Node.js</li></div>
    </ul>
  </div>
  <div>
    <h3>Health Platform</h3>
    <p class='p-main'>
      Led development of a data export system and optimised backend data flows
      for a platform serving over one million users. Reduced manual processes by
      50% and improved data accuracy across departments through automation and
      database restructuring.
    </p>
    <ul class='project'>
      <div class='technologies-used'><li>JavaScript</li></div>
      <div class='technologies-used'><li>Node.js</li></div>
      <div class='technologies-used'><li>CSS</li></div>
      <div class='technologies-used'><li>Oracle</li></div>
      <div class='technologies-used'><li>SQL</li></div>
    </ul>
  </div>
  <div>
    <h3>Boutique Travel Concierge Platform</h3>
    <p class='p-main'>
      Built and styled a modular, responsive interface for a design-driven
      travel platform focused on discovery and detail. Developed internal
      automation using n8n and Notion, streamlining content workflows and
      scaling collaboration for editors and designers.
    </p>
    <ul class='project'>
      <div class='technologies-used'><li>JavaScript</li></div>
      <div class='technologies-used'><li>PHP</li></div>
      <div class='technologies-used'><li>Figma</li></div>
      <div class='technologies-used'><li>Wordpress</li></div>
      <div class='technologies-used'><li>CSS</li></div>
      <div class='technologies-used'><li>n8n</li></div>
    </ul>
  </div>
</BaseLayout>
