---
import Social from "./Social.astro";
---

<footer class='custom_footer'>
  <div class='footer-social-links'>
    <div class='footer-social-link'>
      <Social platform='Github' username='ClaudeMap' />
    </div>
    <div class='footer-social-link'>
      <Social platform='Linkedin' username='claude-m-b24795222' />
    </div>
    <div class='footer-social-link'>
      <a href='mailto:claude.mapara@hotmail.co.uk' aria-label='Email'>
        <img src='/icons/Email.svg' alt='Email' />
      </a>
    </div>
  </div>
</footer>

<p class='credit'>
  Designed & Built by <a
    href={`https://www.linkedin.com/in/claude-m-b24795222`}
    target='_blank'
    rel='noopener noreferrer'>Claude Mapara</a
  >
</p>
