---
import Social from "./Social.astro";
---

<footer class='custom_footer'>
  <Social platform='Github' username='ClaudeMap' />
  <Social platform='Linkedin' username='claude-m-b24795222' />

  <p class="credit">
    Designed & Built by <a
      href={`https://www.linkedin.com/in/claude-m-b24795222`}
      target='_blank'
      rel='noopener noreferrer'>Claude Mapara</a
    >
  </p>
</footer>
