---
import Social from "./Social.astro";
---

<footer class='custom_footer'>
  <div class='footer-social-links'>
    <div class='footer-social-link'>
      <Social platform='Github' username='ClaudeMap' />
    </div>
    <div class='footer-social-link'>
      <Social platform='Linkedin' username='claude-m-b24795222' />
    </div>
    <div class='footer-social-link'>
      <a href='mailto:claude.mapara@hotmail.co.uk' aria-label='Email'>
        <img src='/icons/Email.svg' alt='Email' />
      </a>
    </div>
  </div>

  <p class='credit'>
    Designed in <a
      href='https://www.figma.com'
      target='blank'
      rel='noreferrer noopener'
      aria-label='Figma (opens in a new tab)'>Figma</a
    >. Built in <a
      href='https://code.visualstudio.com'
      target='_blank'
      rel='noreferrer noopener'
      aria-label='Visual Studio Code (opens in a new tab)'>VS Code</a
    >. Shipped with <a
      href='https://www.netlify.com/'
      target='_blank'
      rel='noreferrer noopener'
      aria-label='Netlify (opens in a new tab)'>Netlify</a
    >.
  </p>
</footer>
