---
import { ClientRouter } from "astro:transitions";
import MobileNav from "./MobileNav.astro";
---

<header class='header' view-transition-name='header'>
  <ClientRouter />

  <!-- Mobile toggle -->
  <button class='nav-toggle' aria-expanded='false' aria-controls='mobile-menu'
    >Menu</button
  >

  <!-- mobile panel -->
  <nav id='mobile-menu' class='mobile-menu' hidden>
    <MobileNav />
  </nav>
</header>
