---
import Navigation from "../components/Navigation.astro";
import ViewTransitions from "astro/components/ViewTransitions.astro";
const { url } = Astro.request;
---

<header class='header' view-transition-name="header">
  <ViewTransitions />
  <nav>
    <Navigation />
  </nav>
</header>
