---
import Hamburger from "../components/Hamburger.astro";
import Navigation from "../components/Navigation.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<header class='navigation'>
  <nav>
    <Hamburger />
    <!-- <ThemeIcon /> -->
    <div class='nav-overlay' aria-hidden='true'></div>
    <Navigation />
  </nav>
</header>
