---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<!-- Nav Menu -->
<button class="nav-close" aria-label="Close Menu">&times;</button>

<h2><HeaderLink href='/' class='mobile-nav'>{SITE_TITLE}</HeaderLink></h2>
<HeaderLink href='/about' class='mobile-nav'>/about</HeaderLink>
<HeaderLink href='/projects' class='mobile-nav'>/projects</HeaderLink>
<HeaderLink
  href='/downloads/Claude_Resume_SWE.pdf'
  download
  target='_blank'
  rel='noopener noreferrer'
  class='mobile-nav'
>
  /resume</HeaderLink
>
