---
const { url } = Astro.request;
const currentPath = new URL(url).pathname;
---

<h2><a href='/' class={currentPath === "/" ? "active" : ""}>Home</a></h2>
<div>
  <a href='/about/' class={currentPath === "/about/" ? "active" : ""}>/about</a>
  <a href='/projects' class={currentPath === "/projects" ? "active" : ""}
    >/projects</a
  >
  <a
    href='/downloads/Resume.pdf'
    download
    target='_blank'
    rel='noopener noreferrer'>Resume</a
  >
</div>
