<div class='navigation-links'>
  <ol class='styled-list'>
    <li><a href='/'>Home</a></li>
    <li><a href='/about/'>About</a></li>
    <li><a href='/blog'>Blog</a></li>
    <li><a href='/other'>Other</a></li>
    <li>
      <a
        class='resume-button'
        href='/downloads/Resume.pdf'
        download
        target='_blank'
        rel='noopener noreferrer'
      >
        Resume
      </a>
    </li>
  </ol>
</div>
