---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<h2><a href='/'>{SITE_TITLE}</a></h2>
<div>
  <HeaderLink href='/about'>/about</HeaderLink>
  <HeaderLink href='/projects'>/projects</HeaderLink>
  <HeaderLink
    href='/downloads/Claude_Resume_SWE.pdf'
    download
    target='_blank'
    rel='noopener noreferrer'>Resume</HeaderLink
  >
</div>
