<div class='navigation-links'>
  <ol class='styled-list'>
    <li><a href='/'>Home</a></li>
    <li><a href='/about/'>About</a></li>
    <li><a href='/blog'>Blog</a></li>
    <li><a href='/leetcode'>Leetcode</a></li>
  </ol>
</div>
