---
const { platform, username } = Astro.props;
---
<a
  href={`https://www.${platform}.com/${username}`}
  target="_blank"
  rel="noopener noreferrer"
  class="social-link"
>
  <img src={`/icons/${platform}.svg`} alt={platform} />
</a>
