---
const { frontmatter } = Astro.props;
import "../styles/global.css";
import BaseLayout from "../layout/BaseLayout.astro";
---

<BaseLayout pageTitle={frontmatter.title}>
    <p>Published on: {frontmatter.pubDate.toString().slice(0, 10)}</p>
    <p>{frontmatter.description}</p>
    <p>Written by {frontmatter.author}</p>
    <h2>{frontmatter.heading}</h2>
    <slot />
</BaseLayout>
